 /* ============================ SERVICES ============================ */
 .carousel.carousel-slider .control-arrow:hover {
    background: none;
}

 .carousel .control-prev.control-arrow:before {
  border-right: 8px solid var(--primary-color);
}
 .carousel .control-next.control-arrow:before {
    border-left: 8px solid var(--primary-color);
}

.carousel.carousel-slider {
  overflow: inherit;
}

.carousel .control-dots {
  /* left: 10px; */
  margin-left:10px;
  bottom:-30px;
}

/* .carousel .control-next.control-arrow, .carousel .control-next.control-arrow:hover{
  right: -20px;
}

.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
  left: -20px;
} */

.carousel .slide img {
  width: 100%;
  vertical-align: top;
  border: 0;
  margin-left: 13px;
}

 #journey {
  text-align: center;
  background-color: var(--brand-gray);
}

#journey header h2 {
  margin-bottom: 2.4rem;
  color:var(--primary-color);
}

#journey .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

#journey .company-journey{
  margin: auto;
}

#journey .col-b .company-journey-img{
  margin-top:5rem;
  width: 100%;
  max-width: 308px;
}

#journey .col-b .client-journey-img{
  width: 100%;
  max-width: 320px;
  height: auto;
  margin: 0 auto;
  margin-bottom:2rem;
  margin-top:5rem;
  display: flex;
  justify-content: center;
}

#journey .company-journey{
margin-top: 5rem;
}

  @media (min-width: 1024px) {
    #journey {
  text-align: left;
  background-color: var(--brand-gray);
}
    #journey .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'A B';
    gap: 6.7rem;
  }

  #journey .wrapper:nth-child(2) {
    grid-template-columns: 70rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #journey .col-b{
    width: 100%;
  }

  #journey .col-b .client-journey-img{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: auto;
    margin-bottom:2rem;
  }

  #journey .col-b .company-journey-img{
    margin-top:5rem;
    width: 100%;
    max-width: 680px;
  }

  #journey .company-journey{
margin-top: 10rem;
  }

  #journey .col-a {
    align-self: center;
  }

  #journey .col-c {
    align-self: center;
  }

  #journey .content p {
    margin: 0;
  }
  }
